
*{box-sizing: border-box;padding: 0;margin: 0;}
body{width: 100vw;height: 100vh;font-family: 'Roboto', sans-serif;}

h1{font-size: 5rem;font-weight: bolder;}
h2{font-size: 3rem;font-weight: bolder;}
h3{font-size: 1rem;font-weight:bold;}
h4{font-size: 1rem;font-weight:normal;}

ul {list-style: none;}
button{border: none;}

nav{height: 4rem;display: flex;justify-content: space-between;    position: fixed;
    z-index: 5;
    background-color: white;
    width: 100%;}

a{text-decoration: none;color: #000000;}

button{color: white;background-color: #0061ff;padding: 0.5rem;margin: 1rem;}

div[class*="nav"]{display: flex;gap: 2rem;align-items: center;}

.nav-left, .nav-right {padding: 1rem;}

div[class*="blue"]{background-color: #b4d0e7 ;}

div[class*="black"]{background-color: #000000 ;}

.background{width: 100%;}

/* contenitore 920px */
.S-box{width: 920px;margin: auto;}

/* contenitore 1200px */
.B-box{width: 1200px;margin: auto;}

.row{display: flex;}

.row i {font-size: 3rem;}



.size-60{width: 60%;}

.size-70{width: 70%;}
.size-30{width: 30%;}
.size-40{width: 40%;}
.size-50{width: 50%;}

.top-text > *{margin-bottom: 1.5rem;}

.top-text > i{margin-top: 3rem;}

.jumbo{margin-bottom: 3rem;padding-top: 2rem;}

.column{flex-flow: column;}

.outline{border: 1px solid gray;text-align: center;}

.outline i {font-size: 1.5rem;}
 
.onepadd{padding: 1rem;}
.twopadd{padding: 2rem;}
.Threepadd{padding: 3rem;}
.sixpadd{padding: 6rem;}
.margin6{margin-bottom: 6rem;}
.margin3{margin-bottom: 3rem;}
.margin2{margin-bottom: 2rem;}
.leftalign{text-align: left;}


.outline.twopadd.leftalign{flex-direction: column;
    display: flex;
    gap: 3rem;}

.table{gap: 2rem;
    justify-content: space-evenly;
width: 100%;}
ul>*{line-height: 3rem;}

.outline>span{text-align: left;line-height: 2rem;}

span h3{margin-bottom: 3rem;}

span .size30{text-align: right;margin: 0;}

.outline.row.twopadd .size-30{text-align: right;}

.center{text-align: center;}

.img-container img {width: 100%;}

.row.column img{width: 100%;}

.imgscale {width: calc(33.3% - 2rem);}

.tablegap{display: flex;gap: 2rem;align-items: center;flex-wrap: wrap;}

.imgscale h3{margin-bottom: 2rem;}

.block{width: 33.3%;aspect-ratio: 1 / 1 ;display: flex;flex-wrap: wrap;}


.sideblock{width: 50%;aspect-ratio: 1 /1 ;position: relative;padding: 2rem;}

.sideblock img{width: 100%;display: block; object-fit: scale-down;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}

.mid>*{margin: auto;padding-top: 4rem;padding-bottom: 4rem;}
.sx{background-color: #0061ff;}
.dx{background-color: #10ff10;}

.S-box.faq>*{margin-top: 1rem;margin-bottom: 1rem;}

.footcolumn{width: 20%;color: white;}
.footcolumn .raw li >a{color: white;}

.block>img{width: 60%;display: block; object-fit: scale-down;position: absolute;left: 2rem;top: 2rem;}
.block>h3{text-align: center;}

.outline.twopadd.leftalign>button{margin: auto;
    width: 100%;}

.m{overflow:auto;position: relative;}
.mid.size-50>h2{font-size: 2rem;color: maroon;}
.background.row .block>img{filter: invert(1) ;}
.background.row .block .sideblock>img{filter: invert(1) ;}
.background.row .block>h3{color: white;}

.outline.twopadd.leftalign ul li{display: flex;align-items: baseline;}

.center.size-40 button{background-color: transparent;border: 1px solid black;color: black;margin: 0;}
.center.size-40{text-align: left;}
.center.size-40 h2{font-size: 2rem;}
.S-box.row:nth-of-type(2n){background-color:white;color: #000000;}

/* hover link*/

.navmenu:hover .dropdown{display:block ;}
.navmenu2:hover .dropdown2{display:block ;}
.navmenu{position: relative;}
.navmenu2{position: relative;}
.dropdown{display: none;position: absolute;top: 100%;left: 0; z-index: 4;padding: 1rem;background-color: #ffffff; }
.dropdown2{display: none;position: absolute;top: 100%;right: 0; z-index: 4;padding: 1rem;background-color: #ffffff; }